.mainestDetails {
  background-color: black;
}
.main_details {
  background: url("https://www.bmwusa.com/content/dam/bmwusa/4Series/2020/lead-form/BMW-Lead-Form-4-Series-1280.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
}
.main_details2 {
  background: black;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;
}
.details_h1 {
  color: white;
  border-bottom: 2px solid white;
}
.details_p {
  color: white;
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  border-bottom: 2px solid white;
  padding-bottom: 50px;
}
.details_img {
  width: 100%;
  max-width: 500px;
  height: 200px;
}
.details_h2 {
  color: white;
  font-size: 30px;
  border-bottom: 2px solid white;
}
.details_h3 {
  color: white;
}
.main_modal1 {
  display: flex;
  justify-content: center;
  background-color: black;

  height: 90vh;
  align-items: center;
}
.modal_img {
  width: 50vw;
  height: 40vh;
  animation-name: rotate;
}
.card_comment {
  width: 300px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.btn_comment {
  width: 50px;
  height: 30px;
  background-color: rgb(70, 70, 209);
  cursor: pointer;
  border: 1px solid rgb(70, 70, 209);
}
.comment_delete {
  width: 50px;
  height: 30px;
  background-color: rgb(70, 70, 209);
  border: 1px solid rgb(70, 70, 209);
  border-radius: 5px;
  cursor: pointer;
}
.main_comment {
  overflow: scroll; /* Добавляем полосы прокрутки */
  width: auto; /* Ширина блока */
  height: 70px; /* Высота блока */
  padding: 10px;
  background-color: black;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-radius: 2px;
  border-color: #777;
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  border-width: 0;
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}
.modal_img {
  animation: rotate 10s infinite linear;
}
@media (max-width: 1050px) {
  .details_h1 {
    font-size: 20px;
  }
  .details_p {
    width: 300px;
  }
  .details_img {
    width: 300px;
    height: 150px;
  }
}
@media (max-width: 800px) {
  .main_details {
    display: none;
  }
  .details {
    justify-content: center;
  }
  .input_comment {
    width: 50px;
  }
  .details_h1 {
    display: none;
  }
}
@media (max-width: 625px) {
  .details_h1 {
    font-size: 16px;
  }
  .details_p {
    width: 200px;
  }
  .details_img {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .modal_img {
    width: 80vw;
    height: 20vh;
  }
  .details_h1 {
    font-size: 16px;
  }
  .details_p {
    width: 150px;
    font-size: 15px;
  }
  .details_img {
    width: 150px;
    height: 100px;
  }

  .main_details2 {
    width: 100%;
  }
  .details_img {
    width: 300px;
    height: 150px;
  }
}
